# ====================
# Python & Jupyter
# ====================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# ====================
# LaTeX
# ====================
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk

# ====================
# R & RStudio
# ====================
.Rhistory
.RData
.Rproj.user/

# ====================
# System Files (Mac/Windows)
# ====================
.DS_Store
Thumbs.db

